<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body>

        <style>
            .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
            .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        </style>

        <div class="example-wrapper">
            <h1>КЕХАТ</h1>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="md-alert-auto-hide md-alert md-alert-{{ label }} md-box-mb">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <p>
                {% if app.user %}
                    Вы аторизованы как <b>{{ app.user.username }}</b>
                {% endif %}
            </p>

            {% block body %}{% endblock %}

            <br>
            <hr>
            <br>

            <ul>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                {% if app.user %}
                    <li><a href="{{ path('user_profile', {'username':app.user.username}) }}">Профиль</a></li>
                {% endif %}
                <li><a href="{{ path('user_login') }}">Login</a></li>
                <li><a href="{{ path('user_register') }}">Registration</a></li>
                <li><a href="{{ path('user_edit_password') }}">Edit password</a></li>
                <li><a href="{{ path('user_forgot_password') }}">Forgot password</a></li>
                <li><a href="{{ path('user_restore_password',{'token':'dfssf'}) }}">Restore password</a></li>
                <li><a href="{{ path('user_email_confirmation',{'token':'dfssf'}) }}">Email confirmation</a></li>
                <li><a href="{{ path('user_logout') }}">Logout</a></li>
            </ul>
        </div>
    </body>
</html>
