{% extends 'base.html.twig' %}

{% block title %}Новый пароль{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Новый пароль</h1>

    {{ form_start(restorePasswordForm) }}
        {{ form_row(restorePasswordForm.current) }}
        {{ form_row(restorePasswordForm.plainPassword.first) }}
        {{ form_row(restorePasswordForm.plainPassword.second) }}
        <button class="btn btn-primary">Изменить пароль</button>
    {{ form_end(restorePasswordForm) }}
{% endblock %}
