{% extends 'base.html.twig' %}

{% block title %}Новый пароль{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Новый пароль</h1>

    {{ form_start(newPasswordForm) }}
        {{ form_row(newPasswordForm.plainPassword.first) }}
        {{ form_row(newPasswordForm.plainPassword.second) }}
        <button class="btn btn-primary">Отправить письмо для восстановления</button>
    {{ form_end(newPasswordForm) }}
{% endblock %}
